@import url("reset.css");

* {
	color: pink;
}

.header {
	color: aquamarine;
}

a {
	color:green;
}

.text {
	color: red;
}

#list {
	color: black;
}

.list2 {
	color:purple;
}

h1,h2,h3 {
	color: brown;
}
div.text {
	color: peachpuff;
}

/* .text {
	color: greenyellow;
}

.lesson,
.text {
	color: greenyellow;
} */

.text p {
	color: azure;
}

.text * {
	color: gold;
}

/* .text > p {
	color: greenyellow;
} */

.text + p {
	color: greenyellow;
}

.text .lesson {
	color: greenyellow;
}

strong {
	color: turquoise;
}